body {
    display: flex;
    justify-content: center;
  }
  .dot1 {
      height: 100px;
      width: 100px;
      background-color: green;
      border-radius: 50%;
      display: inline-block;
    }
  
    .dot2 {
      height: 100px;
      width: 100px;
      background-color: yellow;
      border-radius: 50%;
      display: inline-block;
    }
  
    .dot3 {
      height: 100px;
      width: 100px;
      background-color: red;
      border-radius: 50%;
      display: inline-block;
    }
  
    .case {
      display: flex;
      flex-direction: column;
      background-color: black;
      width: 110px;
      border-radius: 30px;
      place-items: center;
    }
  
    .dot1Lighted {
      height: 100px;
      width: 100px;
      background-color: green;
      border-radius: 50%;
      display: inline-block;
      box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #f0f; /* middle magenta */
    }
  
    .dot2Lighted {
      height: 100px;
      width: 100px;
      background-color: yellow;
      border-radius: 50%;
      display: inline-block;
      box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #f0f; /* middle magenta */
    }
  
    .dot3Lighted {
      height: 100px;
      width: 100px;
      background-color: red;
      border-radius: 50%;
      display: inline-block;
      box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #f0f; /* middle magenta */
    }